﻿
@{
    ViewBag.Title = "AddCampaign";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Manage Campaign
            <small>Add Campaign</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">AddCampaign</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create Campaign</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    @if (ViewBag.error==null)
                    {

                    }
                    else
                    {
                        <div class="alert alert-danger">
                            @ViewBag.error
                        </div>
                    }
                    <form role="form" action="@Url.Action("AddCampaign","Admin")" method="post" enctype="multipart/form-data">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Name</label>
                                <input onchange="ValidateName()" type="text" id="Camp" name="Name" class="form-control"  placeholder="Enter name" required>
                                <label id="msg"></label>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <input type="file" name="Upload" id="exampleInputFile" accept=".txt" required>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
    </div>
<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script>
    function ValidateName() {
        var name = document.getElementById('Camp').value;
        $.ajax({
            dataType: "json",
            type: "POST",
            url: 'validateCampaign',
            data: { Camp: name },
            //traditional: true,
            success: function (response) {
                if (response == 0) {
                    $("#msg").html("Name already exist, please try another one!");
                    $("#msg").addClass("text-danger");
                    $(':input[type="submit"]').prop('disabled', true);
                } else {
                    $("#msg").removeClass("text-danger");
                    $("#msg").addClass("text-success");
                    $("#msg").html("Congrates, Name is available.");
                    $(':input[type="submit"]').prop('disabled', false);
                }
            },
            error: function (response) { alert('Error'); }

        });
    }
    $("#Camp").on({
        keydown: function (e) {
            if (e.which === 32)
                return false;
        },
        change: function () {
            this.value = this.value.replace(/\s/g, "");
        }
    });
    function trim(el) {
        el.value = el.value.
            replace(/(^\s*)|(\s*$)/gi, ""). // removes leading and trailing spaces
            replace(/[ ]{2,}/gi, " ").       // replaces multiple spaces with one space
            replace(/\n +/, "\n");           // Removes spaces after newlines
        return;
    }
</script>

