﻿@model IEnumerable<WebDesignAndSEO.Models.Campaign>
@{
    ViewBag.Title = "deleteCampaign";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Manage Contacts
            <small>List Of Contacts</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Contact Information</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            @if (ViewBag.error==null)
                            {
                                /**/
                            }
                            else
                            {
                                <div class="alert alert-danger">
                                    @ViewBag.error
                                </div>
                            }
                            <form class="form-inline" role="form" action="@Url.Action("deleteCamp","Admin")" method="post">

                                <div class="col-md-12">
                                    @if (Model== null)
                                    {
                                        /**/
                                    }
                                    else
                                    {
                                        foreach (var item in Model)
                                        {
                                            <input type="checkbox" name="Camp" value="@item.Name">
                                            <label>@item.Name</label>
                                        }
                                        

                                    }
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-danger" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>

