﻿@model IEnumerable<WebDesignAndSEO.Models.Contact>
@{
    ViewBag.Title = "ExportContacts";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Manage Contacts
            <small>Export Contacts</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Filter table for export</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    @if (ViewBag.error == null)
                    {

                    }
                    else
                    {
                        <div class="alert alert-danger">
                            @ViewBag.error
                        </div>
                    }
                    <form class="form-inline" role="form" action="@Url.Action("ExportContact","Admin")" method="post" enctype="multipart/form-data">
                        <div class="box-body">
                            <div class="form-group col-md-4">
                              
                                @foreach (var item in ViewBag.camp)
                                {
                                    <input type="checkbox" name="Camp" value="@item.Name">
                                    <label>@item.Name</label>
                                }
                            </div>
                            <div class="form-group col-md-4">
                                <label for="exampleInputEmail1">Contact Status:</label>
                                <select name="Status" class="form-control" required>
                                    <option selected value="" disabled >Select Status</option>
                                    <option value="0">Neutral</option>
                                    <option value="1">Positive</option>
                                    <option value="2">Negative</option>
                                </select>
                            </div>
                            <div class=" form-group col-md-4">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </form>
                </div>

            </div>
        </div>
        @if (ViewBag.contlist == null)
        {

        }
        else
        {


            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Contact Information</h3>
                            <a href="@Url.Action("EportFile","Admin",new {list=ViewBag.campString})" class="btn btn-primary pull-right" id="txtBtn">Export to text file <span class="fa fa-file-text"></span></a>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="table-responsive">
                                <table id="myTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Domain</th>
                                            <th>LinkedIn</th>
                                            <th>Facebook</th>
                                            <th>Google+</th>
                                            <th>Pinterest</th>
                                            <th>Company/Site</th>
                                            
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.contlist)
                                        {
                                            <tr>
                                                <td>@item.Name</td>
                                                <td>@item.Domain</td>
                                                <td>@item.LinkedIn</td>
                                                <td>@item.Facebook</td>
                                                <td>@item.Google</td>
                                                <td>@item.Pinterst</td>
                                                <td>@item.Company</td>
                                                @if (item.Status == 0)
                                                {
                                                    <td>Neutral</td>
                                                }
                                                else if (item.Status == 1)
                                                {
                                                    <td>Positive</td>
                                                }
                                                else if(item.Status == 2)
                                                {
                                                    <td>Negative</td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                                <td><a href="#editModal" onclick="Edit('@item.Id','@item.Name','@item.Domain','@item.LinkedIn','@item.Facebook','@item.Google','@item.Pinterst','@item.Company','@item.Status','@item.CampaignId')" data-toggle="modal" data-target="#editModal" class="editModal">Edit</a> | <a href="#deleteModal" data-id=@item.Id data-toggle="modal" data-target="#deleteModal" class="deleteModal">Delete</a></td>


                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
    <div class="modal fade" id="editModal" role="dialog" aria-labelledby="editModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="@Url.Action("EditContact","Admin")" method="post">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Edit Contact</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="Id" id="Id">
                            <label for="recipient-name" class="control-label">Name:</label>
                            <input onchange="return trim(this)" type="text" class="form-control" name="Name" id="name" required>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Domain:</label>
                            <input onchange="return trim(this)" type="text" class="form-control" name="Domain" id="domain" required>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">LinkedIn:</label>
                            <input type="text" class="form-control" name="LinkedIn" id="LinkedIn">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Facebook:</label>
                            <input type="text" class="form-control" name="Facebook" id="Facebook">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Google+:</label>
                            <input type="text" class="form-control" name="Google" id="href">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Pinterest:</label>
                            <input type="text" class="form-control" name="Pinterst" id="Pinterest">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Comapnay/Site:</label>
                            <input type="text" class="form-control" name="Company" id="company">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">href:</label>
                            <select name="Status" class="form-control" id="status" required>
                                <option selected value="">Choose Status </option>
                                <option value="0">Neutral</option>
                                <option value="1">Positive</option>
                                <option value="2">Negative</option>
                            </select>
                            <input type="hidden" class="form-control" name="CampaignId" id="campId">

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="@Url.Action("DeleteContact","Admin")" method="post">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Do you really want to delete contact?</label>
                            <input type="hidden" name="Id" class="form-control" id="Id" value="">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-primary">Yes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#demo').multiselect();
    });

    $(document).on("click", ".deleteModal", function () {
        $(".modal-body #Id").val($(this).data('id'));
        $('#deleteModal').toggle();
    });
    function Edit(Id, Name, Domain, linked, fb, ggl, pint, Company, Status, CampaignId) {
        $('#Id').val(Id);
        $('#name').val(Name);
        $('#domain').val(Domain);
        $('#LinkedIn').val(linked);
        $('#Facebook').val(fb);
        $('#Google').val(ggl);
        $('#Pinterest').val(pint);
        $('#company').val(Company);
        $('#status').val(Status);
        $('#campId').val(CampaignId)
    }
    function trim(el) {
        el.value = el.value.
            replace(/(^\s*)|(\s*$)/gi, ""). // removes leading and trailing spaces
            replace(/[ ]{2,}/gi, " ").       // replaces multiple spaces with one space
            replace(/\n +/, "\n");           // Removes spaces after newlines
        return;
    }
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>

