﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web Design & SEO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Hosting City Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--// bootstrap-css -->
    <!-- css -->
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" />
    <!--// css -->
    <!-- font-awesome icons -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <!-- //font -->
    <script src="~/Content/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
    <script src="~/Content/js/SmoothScroll.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <link href='~/Content/css/immersive-slider.css' rel='stylesheet' type='text/css'>
    <!-- pricing -->
    <link rel="stylesheet" href="~/Content/css/jquery.flipster.css">
    <!-- //pricing -->
</head>
<body>
    <!-- header-top -->
    <div class="header-top">
        <div class="container">
            <div class="w3layouts-address">
                <ul>
                    <li><i class="fa fa-mobile" aria-hidden="true"></i> +11 222 333 4444</li>
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com"> mail@example.com</a></li>
                </ul>
            </div>
            <div class="agileinfo-social-grids">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#"><i class="fa fa-vk"></i></a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //header-top -->
    <!-- header -->
    <div class="header">
        <div class="container">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="w3layouts-logo">
                        <h1><a href="@Url.Action("Index","Home")">WebDesign <span>SEO</span></a></h1>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
                            <li><a href="@Url.Action("About","Home")" class="hvr-sweep-to-bottom">About</a></li>
                            <li><a href="@Url.Action("Plans","Home")" class="hvr-sweep-to-bottom">Plans</a></li>
                            
                            @*<li>
                                <a href="#" class="dropdown-toggle hvr-sweep-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="hvr-sweep-to-bottom" href="services.html">Services</a></li>
                                    <li><a class="hvr-sweep-to-bottom" href="faq.html">FAQs</a></li>
                                    <li><a class="hvr-sweep-to-bottom" href="login.html">Login</a></li>
                                    <li><a class="hvr-sweep-to-bottom" href="registration.html">Registration</a></li>
                                    <li><a class="hvr-sweep-to-bottom" href="icons.html">Icons</a></li>
                                    <li><a class="hvr-sweep-to-bottom" href="typography.html">Typography</a></li>
                                </ul>
                            </li>*@
                            
                            <li><a href="@Url.Action("Contact","Home")" class="hvr-sweep-to-bottom">Mail Us</a></li>

                            @if (Session["name"] == null)
                            {
                                <li><a href="@Url.Action("Login","Home")" class="hvr-sweep-to-bottom">Log In</a></li>
                                <li><a href="@Url.Action("Signup","Home")" class="hvr-sweep-to-bottom">Sign Up</a></li>
                            }

                            else
                            {
                                <li><a href="@Url.Action("Index","Admin")" class="hvr-sweep-to-bottom">Admin Panel</a></li>
                                <li><a href="" class="hvr-sweep-to-bottom">@Session["name"]</a></li>
                                <li><a href="@Url.Action("Logout","Home")" class="hvr-sweep-to-bottom">Log out</a></li>

                            }
                            </ul>
                    </nav>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
    </div>
    <!-- //header -->
    @RenderBody()
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="agile-footer-grids">
                <div class="col-md-4 agile-footer-grid">
                    <h4>History of <span>Hosting</span></h4>
                    <p>Pellentesque urna ex, ultricies a nunc at, pretium maximus nisi. Vestibulum non auctor diam. Mauris eget consectetur mauris. <span>Aenean leo elit, accumsan vel elit vitae, mattis ultricies lacus. Cras consectetur justo lorem, sed dictum sapien eleifend at.</span></p>
                </div>
                <div class="col-md-4 agile-footer-grid">
                    <h4>Twitter <span>Posts</span></h4>
                    <ul class="w3agile_footer_grid_list">
                        <li>
                            Ut aut reiciendis voluptatibus maiores <a href="#">http://example.com</a> alias, ut aut reiciendis.
                            <span><i class="fa fa-twitter" aria-hidden="true"></i> 02 days ago</span>
                        </li>
                        <li>
                            Itaque earum rerum hic tenetur a sapiente delectus <a href="#">http://example.com</a> ut aut
                            voluptatibus.<span><i class="fa fa-twitter" aria-hidden="true"></i> 03 days ago</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 agile-footer-grid">
                    <h4>Popular <span>Posts</span></h4>
                    <div class="popular-grids">
                        <div class="popular-grid">
                            <a href="#"><img src="~/Content/images/6.jpg" alt=""></a>
                        </div>
                        <div class="popular-grid">
                            <a href="#"><img src="~/Content/images/7.jpg" alt=""></a>
                        </div>
                        <div class="popular-grid">
                            <a href="#"><img src="~/Content/images/8.jpg" alt=""></a>
                        </div>
                        <div class="popular-grid">
                            <a href="#"><img src="~/Content/images/9.jpg" alt=""></a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="popular-grids agileits-w3layouts-popular">
                        <div class="popular-grid">
                            <a href="#"><img src="~/Content/images/10.jpg" alt=""></a>
                        </div>
                        <div class="popular-grid">
                            <a href="#"><img src="~/Content/images/4.jpg" alt=""></a>
                        </div>
                        <div class="popular-grid">
                            <a href="#"><img src="~/Content/images/6.jpg" alt=""></a>
                        </div>
                        <div class="popular-grid">
                            <a href="#"><img src="~/Content/images/7.jpg" alt=""></a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="popular-grids">
                        <div class="popular-grid">
                            <a href="#"><img src="~/Content/images/8.jpg" alt=""></a>
                        </div>
                        <div class="popular-grid">
                            <a href="#"><img src="~/Content/images/9.jpg" alt=""></a>
                        </div>
                        <div class="popular-grid">
                            <a href="#"><img src="~/Content/images/10.jpg" alt=""></a>
                        </div>
                        <div class="popular-grid">
                            <a href="#"><img src="~/Content/images/4.jpg" alt=""></a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="copyright">
            <p>© 2017 WebDesign & SEO. All rights reserved | Developed by <a href="http://www.ubssols.com">UBS Solutions.</a></p>
        </div>
    </div>
    <!-- //footer -->
    <script src="~/Content/js/jarallax.js"></script>
    <script type="text/javascript">
        /* init Jarallax */
        $('.jarallax').jarallax({
            speed: 0.5,
            imgWidth: 1366,
            imgHeight: 768
        })
    </script>
    <script src="~/Content/js/responsiveslides.min.js"></script>
    <script type="text/javascript" src="~/Content/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/js/easing.js"></script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- pricing -->
    <script src="~/Content/js/jquery.flipster.js"></script>
    <script>
	<!--

		$(function(){ $(".flipster").flipster({ style: 'carousel', start: 0 }); });

	-->
    </script>
    <!-- //pricing -->
    <!-- slider -->
    <script type="text/javascript" src="~/Content/js/jquery.immersive-slider.js"></script>
    <!-- //slider -->
</body>
</html>