﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- about-heading -->
<div class="about-heading">
    <h2>Login <span>Hosting City</span></h2>
</div>
<!-- //about-heading -->
<div class="registration">
    <div class="container">
        <div class="signin-form profile">
            <h3>Login</h3>
            @if (ViewBag.error == null)
            {

            }
            else
            {
                <div class="label label-danger">
                    @ViewBag.error
                </div>
            }
            <div class="login-form">
                <form action="@Url.Action("Login","Home")" method="post">
                    <input type="text" name="Email" placeholder="E-mail" required="">
                    <input type="password" name="Password" placeholder="Password" required="">
                    <div class="tp">
                        <input type="submit" value="LOGIN NOW">
                    </div>
                </form>
            </div>
            <div class="login-social-grids">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div>
            <p><a href="@Url.Action("Signup","Home")"> Don't have an account?</a></p>
        </div>
    </div>
</div>

