﻿
@{
    ViewBag.Title = "Plans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- about-heading -->
<div class="about-heading">
    <h2>Our <span>Plans</span></h2>
</div>
<!-- //about-heading -->
<!-- plans -->
<!-- shared-grid -->
<div class="shared-grid">
    <div class="container">
        <div class="w3-banner-bottom-heading">
            <h3>Shared <span>Hosting</span></h3>
        </div>
        <div class="priceing-table-main">
            <div class="col-md-3 price-grid">
                <div class="price-block agile">
                    <div class="price-gd-top pric-clr1">
                        <h4>Basic</h4>
                        <h3>$5</h3>
                        <h5>1 month</h5>
                    </div>
                    <div class="price-gd-bottom">
                        <div class="price-list">
                            <ul>
                                <li>Full access</li>
                                <li>Documentation</li>
                                <li>Customers Support</li>
                                <li>Free Updates</li>
                                <li>Unlimited Domains</li>
                            </ul>
                        </div>
                        <div class="price-selet pric-sclr1">
                            <a href="registration.html">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 price-grid">
                <div class="price-block agile">
                    <div class="price-gd-top pric-clr2">
                        <h4>Standard</h4>
                        <h3>$10</h3>
                        <h5>5 months</h5>
                    </div>
                    <div class="price-gd-bottom">
                        <div class="price-list">
                            <ul>
                                <li>Full access</li>
                                <li>Documentation</li>
                                <li>Customers Support</li>
                                <li>Free Updates</li>
                                <li>Unlimited Domains</li>
                            </ul>
                        </div>
                        <div class="price-selet pric-sclr2">
                            <a href="registration.html">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 price-grid">
                <div class="price-block agile">
                    <div class="price-gd-top pric-clr3">
                        <h4>Premium</h4>
                        <h3>$20</h3>
                        <h5>Free for 2 months</h5>
                    </div>
                    <div class="price-gd-bottom">
                        <div class="price-list">
                            <ul>
                                <li>Full access</li>
                                <li>Documentation</li>
                                <li>Customers Support</li>
                                <li>Free Updates</li>
                                <li>Unlimited Domains</li>
                            </ul>
                        </div>
                        <div class="price-selet pric-sclr3">
                            <a href="registration.html">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 price-grid wthree">
                <div class="price-block agile">
                    <div class="price-gd-top pric-clr4">
                        <h4>Ultimate</h4>
                        <h3>$50</h3>
                        <h5>Free for 5 months</h5>
                    </div>
                    <div class="price-gd-bottom">
                        <div class="price-list">
                            <ul>
                                <li>Full access</li>
                                <li>Documentation</li>
                                <li>Customers Support</li>
                                <li>Free Updates</li>
                                <li>Unlimited Domains</li>
                            </ul>
                        </div>
                        <div class="price-selet pric-sclr4">
                            <a href="registration.html">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //shared-grid -->
<!-- cloud-grid -->
<div class="cloud-grid">
    <div class="container">
        <div class="w3-banner-bottom-heading">
            <h3>Cloud <span>Hosting</span></h3>
        </div>
        <div class="cloud-pricing-table">
            <div class="col-md-3 agileits-pricing">
                <div class="w3layouts-pricing">
                    <div class="w3layouts-price-top">
                        <div class="w3layouts-price-heading">
                            <h3>Standard</h3>
                        </div>
                        <div class="agileinfo-price-grid">
                            <div class="w3-dotter">
                                <h4>$10</h4>
                            </div>
                            <div class="w3l-month">
                                <p>per month</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="w3ls-price-bottom">
                        <div class="agileits-price">
                            <ul>
                                <li>free setup</li>
                                <li>GB Storage 10</li>
                                <li>Unlimited User</li>
                                <li>GB Bandwidth 20</li>
                            </ul>
                        </div>
                        <div class="wthree-price-button">
                            <a href="registration.html">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 agileits-pricing">
                <div class="w3layouts-pricing">
                    <div class="w3layouts-price-top yellow-w3layouts-price-top">
                        <div class="w3layouts-price-heading">
                            <h3>Enhanced</h3>
                        </div>
                        <div class="agileinfo-price-grid">
                            <div class="w3-dotter yellow-w3-dotter">
                                <h4>$30</h4>
                            </div>
                            <div class="w3l-month">
                                <p>per month</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="w3ls-price-bottom">
                        <div class="agileits-price">
                            <ul>
                                <li>free setup</li>
                                <li>GB Storage 10</li>
                                <li>Unlimited User</li>
                                <li>GB Bandwidth 20</li>
                            </ul>
                        </div>
                        <div class="wthree-price-button yellow-wthree-price-button">
                            <a href="registration.html">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 agileits-pricing">
                <div class="w3layouts-pricing">
                    <div class="w3layouts-price-top green-w3layouts-price-top">
                        <div class="w3layouts-price-heading">
                            <h3>Premium</h3>
                        </div>
                        <div class="agileinfo-price-grid">
                            <div class="w3-dotter green-w3-dotter">
                                <h4>$60</h4>
                            </div>
                            <div class="w3l-month">
                                <p>per month</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="w3ls-price-bottom">
                        <div class="agileits-price">
                            <ul>
                                <li>free setup</li>
                                <li>GB Storage 10</li>
                                <li>Unlimited User</li>
                                <li>GB Bandwidth 20</li>
                            </ul>
                        </div>
                        <div class="wthree-price-button green-wthree-price-button">
                            <a href="registration.html">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 agileits-pricing">
                <div class="w3layouts-pricing">
                    <div class="w3layouts-price-top red-w3layouts-price-top">
                        <div class="w3layouts-price-heading">
                            <h3>Unlimited</h3>
                        </div>
                        <div class="agileinfo-price-grid">
                            <div class="w3-dotter red-w3-dotter">
                                <h4>$90</h4>
                            </div>
                            <div class="w3l-month">
                                <p>per month</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="w3ls-price-bottom">
                        <div class="agileits-price">
                            <ul>
                                <li>free setup</li>
                                <li>GB Storage 10</li>
                                <li>Unlimited User</li>
                                <li>GB Bandwidth 20</li>
                            </ul>
                        </div>
                        <div class="wthree-price-button red-wthree-price-button">
                            <a href="registration.html">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //cloud-grid -->
<!-- vpn-grid -->
<div class="vpn-grid">
    <div class="container">
        <div class="w3-banner-bottom-heading">
            <h3>Vpn <span>Hosting</span></h3>
        </div>
        <div class="vpn-grids">
            <div class="col-md-3 vpn-pricing-grid">
                <div class="w3-agileits-vpn-grid">
                    <div class="agileinfo-price ">
                        <h3>Domestic</h3>
                        <h5>Create for Domestic Use</h5>
                    </div>
                    <div class="price-bg">
                        <p class="price-label-1">$<span>5</span>monthly</p>
                        <ul class="count">
                            <li> 24/7 Tech Support</li>
                            <li> Advanced Options</li>
                            <li> 200GB Storage</li>
                            <li> 3GB BandWidth</li>
                        </ul>
                        <div class="wthree-price-button">
                            <a href="registration.html">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 vpn-pricing-grid">
                <div class="w3-agileits-vpn-grid">
                    <div class="agileinfo-price yellow-agileinfo-price">
                        <h3>Global</h3>
                        <h5>Create for Domestic Use</h5>
                    </div>
                    <div class="price-bg">
                        <p class="price-label-2">$<span>9</span>monthly</p>
                        <ul class="count">
                            <li> 24/7 Tech Support</li>
                            <li> Advanced Options</li>
                            <li> 250GB Storage</li>
                            <li> 3GB BandWidth</li>
                        </ul>
                        <div class="wthree-price-button yellow-wthree-price-button">
                            <a href="registration.html">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 vpn-pricing-grid">
                <div class="w3-agileits-vpn-grid">
                    <div class="agileinfo-price green-agileinfo-price">
                        <h3>Enterprise</h3>
                        <h5>Create for Domestic Use</h5>
                    </div>
                    <div class="price-bg">
                        <p class="price-label-3">$<span>12</span>monthly</p>
                        <ul class="count">
                            <li> 24/7 Tech Support</li>
                            <li> Advanced Options</li>
                            <li> 300GB Storage</li>
                            <li> 3GB BandWidth</li>
                        </ul>
                        <div class="wthree-price-button green-wthree-price-button">
                            <a href="registration.html">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 vpn-pricing-grid">
                <div class="w3-agileits-vpn-grid">
                    <div class="agileinfo-price red-agileinfo-price">
                        <h3>Unlimited</h3>
                        <h5>Create for Domestic Use</h5>
                    </div>
                    <div class="price-bg">
                        <p class="price-label-4">$<span>20</span>monthly</p>
                        <ul class="count">
                            <li> 24/7 Tech Support</li>
                            <li> Advanced Options</li>
                            <li> 500GB Storage</li>
                            <li> 5GB BandWidth</li>
                        </ul>
                        <div class="wthree-price-button red-wthree-price-button">
                            <a href="registration.html">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //vpn-grid -->
<!-- //plans -->

