﻿
@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- about-heading -->
<div class="about-heading">
    <h2>Registration <span>Hosting City</span></h2>
</div>
<!-- //about-heading -->
<div class="registration">
    <div class="container">
        <div class="signin-form profile">
            <h3>Register</h3>
            @if (ViewBag.Msg==null)
            {

            }
            else
            {
                <div class="label label-success">
                    @ViewBag.Msg
                </div>
            }
            <div class="login-form">
                <form action="@Url.Action("Signup","Home")" method="post">
                    <input onchange="return trim(this)" type="email" name="email" placeholder="E-mail" required="">
                    <input onchange="return trim(this)" type="text" name="name" placeholder="Username" required="">
                    <input onchange="return trim(this)" type="password" name="password" placeholder="Password" required="">
                    <input onchange="return trim(this)" type="text" name="Phone" placeholder="Phone(format: xxxx-xxx-xxxx)" pattern="^\d{4}-\d{3}-\d{4}$" required="">
                    <select name="Type" required>
                        <option selected value="">Choose Package</option>
                        <option value="1">Free</option>
                        <option value="2">Silver</option>
                        <option value="3">Bronze</option>
                        <option value="4">Gold</option>
                    </select>
                    <input type="submit" value="REGISTER">
                </form>
            </div>
            <p><a href="#"> By clicking register, I agree to your terms</a></p>
        </div>
    </div>
</div>
<script>
    function trim(el) {
        el.value = el.value.
            replace(/(^\s*)|(\s*$)/gi, ""). // removes leading and trailing spaces
            replace(/[ ]{2,}/gi, " ").       // replaces multiple spaces with one space
            replace(/\n +/, "\n");           // Removes spaces after newlines
        return;
    }
</script>
